<ion-content padding class="bg-style">
  <!-- <div class="spacer" style="height:100px;"></div> -->
  <div class="center">
    <form>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Email" name="email"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label> <ion-icon name="key"></ion-icon></ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item> -->
      <ion-item>
        <!-- <ion-label floating>Password</ion-label>
        <ion-input type="{{type}}" name="password" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input> -->

        <ion-label> <ion-icon name="key"></ion-icon></ion-label>
        <ion-input type="{{pwdType}}" placeholder="Password"></ion-input>

        <!-- <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button> -->

        <button ion-button="" icon-only="" clear="" color="dark" item-right="" (click)="showHidePassword()"> 
          <ion-icon [name]="pwdIcon"></ion-icon>
        </button>



      </ion-item>
      <br/>
      <button ion-button color="positive" block>
        Sign In
      </button>
    </form>
    <div class="spacer" style="height:25px;"></div>
    <button ion-button color="danger" block>
      Google+ Sign In
    </button>


  </div>
  <footer>
    <button float-end ion-button clear color="positive" class="footer">
      New here? Sign Up
    </button>
  </footer>
</ion-content>