<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627097748993-lp6rrncr3t1c82svg0gdi51mcl86fkv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627097748993-lp6rrncr3t1c82svg0gdi51mcl86fkv3</string>
	<key>API_KEY</key>
	<string>AIzaSyCYBdnRc2cC6xbV6gUuufQSYAkJXf6iO00</string>
	<key>GCM_SENDER_ID</key>
	<string>627097748993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pukabook.jodar.vicente</string>
	<key>PROJECT_ID</key>
	<string>pukabook-3f5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>pukabook-3f5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627097748993:ios:df0ddd7297e08d5c</string>
	<key>DATABASE_URL</key>
	<string>https://pukabook-3f5ec.firebaseio.com</string>
</dict>
</plist>