page-author {
    img.nav-avatar {
        height: 35px;
        width: 35px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        object-fit: cover;
    }
}